/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


/* Full Port Bank Custom Color Palette */
:root {
	--ion-color-primary: #292966;
	--ion-color-primary-rgb: 41,41,102;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #24245a;
	--ion-color-primary-tint: #3e3e75;

	--ion-color-secondary: #4545CD;
	--ion-color-secondary-rgb: 69,69,205;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #3d3db4;
	--ion-color-secondary-tint: #5858d2;

	--ion-color-tertiary: #732f98;
	--ion-color-tertiary-rgb: 115,47,152;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #652986;
	--ion-color-tertiary-tint: #8144a2;

	--ion-color-success: #13D40C;
	--ion-color-success-rgb: 19,212,12;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #11bb0b;
	--ion-color-success-tint: #2bd824;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #D40C0C;
	--ion-color-danger-rgb: 212,12,12;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #bb0b0b;
	--ion-color-danger-tint: #d82424;

	--ion-color-light: #fffffff;
	--ion-color-light-rgb: 255,255,255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}

