/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* Full Port Bank Custom Fonts */
@import url("./fpbank-fonts.css");


:root {

	--ion-font-family: 'PublicSans';

	/* Full Port Bank Custom Color Palette */
	--ion-color-primary: #292966;
	--ion-color-primary-rgb: 41, 41, 102;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #24245a;
	--ion-color-primary-tint: #3e3e75;

	--ion-color-secondary: #4545CD;
	--ion-color-secondary-rgb: 69, 69, 205;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #3d3db4;
	--ion-color-secondary-tint: #5858d2;

	--ion-color-tertiary: #732f98;
	--ion-color-tertiary-rgb: 115, 47, 152;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #652986;
	--ion-color-tertiary-tint: #8144a2;

	--ion-color-success: #13D40C;
	--ion-color-success-rgb: 19, 212, 12;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0, 0, 0;
	--ion-color-success-shade: #11bb0b;
	--ion-color-success-tint: #2bd824;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255, 196, 9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #D40C0C;
	--ion-color-danger-rgb: 212, 12, 12;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #bb0b0b;
	--ion-color-danger-tint: #d82424;

	--ion-color-light: #ffffff;
	--ion-color-light-rgb: 255, 255, 255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;

	--ion-color-lightmedium: #afafaf;
	--ion-color-lightmedium-rgb: 175, 175, 175;
	--ion-color-lightmedium-contrast: #000000;
	--ion-color-lightmedium-contrast-rgb: 0, 0, 0;
	--ion-color-lightmedium-shade: #9a9a9a;
	--ion-color-lightmedium-tint: #b7b7b7;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95, 95, 95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47, 47, 47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}

.ion-color-lightmedium {
	--ion-color-base: var(--ion-color-lightmedium);
	--ion-color-base-rgb: var(--ion-color-lightmedium-rgb);
	--ion-color-contrast: var(--ion-color-lightmedium-contrast);
	--ion-color-contrast-rgb: var(--ion-color-lightmedium-contrast-rgb);
	--ion-color-shade: var(--ion-color-lightmedium-shade);
	--ion-color-tint: var(--ion-color-lightmedium-tint);
}

ion-input {
	--border-radius: 10px !important;
	--highlight-color-focused: var(--ion-color-secondary) !important;
}


ion-toggle {
	--track-background: var(--ion-color-lightmedium);
	--track-background-checked: var(--ion-color-secondary);

	--handle-background: #ffffff;
	--handle-background-checked: #ffffff;

	--handle-width: 20px;
	--handle-height: 20px;
	--handle-max-height: auto;
	--handle-spacing: 3px;

	--handle-border-radius: 100px;
	--handle-box-shadow: none;
}

ion-toggle::part(track) {
	height: 24px;
	width: 40px;

	/* Required for iOS handle to overflow the height of the track */
	overflow: visible;
}

ion-button {
	--box-shadow: none;
	text-transform: none;
	font-weight: 700;
}

ion-checkbox {
	--checkbox-background-checked: var(--ion-color-secondary);
	--border-color-checked: var(--ion-color-secondary);
}

ion-title {
	&.md {
		width: 100%;
		position: absolute;
		left: 0;
		height: 0;
		text-align: center;
		font-size: x-large;
		font-weight: 700;
		color: var(--ion-color-primary-contrast);
	}
}

/*.content-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
}*/